// GLOBAL SIGNALS
IO_LOC  "i_Clk" 52;
IO_PORT "i_Clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "i_Rst_L" 4;
IO_PORT "i_Rst_L" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// IMU 
IO_LOC  "o_IMU_CS_n" 38;
IO_PORT "o_IMU_CS_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "o_IMU_SCLK" 37;
IO_PORT "o_IMU_SCLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "o_IMU_MOSI" 36;
IO_PORT "o_IMU_MOSI" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "i_IMU_MISO" 39;
IO_PORT "i_IMU_MISO" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// LCD 
IO_LOC  "o_LCD_CS_n" 25;
IO_PORT "o_LCD_CS_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "o_LCD_SCLK" 26;
IO_PORT "o_LCD_SCLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "o_LCD_MOSI" 27;
IO_PORT "o_LCD_MOSI" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "o_LCD_DC"   28;
IO_PORT "o_LCD_DC"   IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "i_LCD_MISO" 29;
IO_PORT "i_LCD_MISO" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "o_LCD_RST_n" 30;
IO_PORT "o_LCD_RST_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// LEDs
IO_LOC  "o_LED_WHO"  10;
IO_PORT "o_LED_WHO"  IO_TYPE=LVCMOS18 PULL_MODE=UP;
